<header class="modal-header">
    <h1>{{this.post.displayName}} 을/를 삭제하시겠습니까?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">취소</span></a>

<div class="modal-body">
    <p>
        "<strong>{{this.post.title}}</strong> 삭제를 진행 중입니다. 이 작업은 영구적입니다.
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>취소</span></button>
    <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deletePost}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
