<div class="gh-member-import-wrapper {{if (or (eq this.state 'MAPPING') (eq this.state 'UPLOADING')) "wide"}}">
    {{#if (eq this.state 'INIT')}}
        <header class="modal-header" data-test-modal="import-members">
            <h1>멤버 불러오기</h1>
        </header>
    {{/if}}

    {{#if (or (eq this.state 'MAPPING') (eq this.state 'UPLOADING'))}}
        <header class="modal-header" data-test-modal="import-members">
            <h1>멤버 불러오기</h1>
        </header>
    {{/if}}

    {{#if (eq this.state 'PROCESSING')}}
        <header class="modal-header icon-center" data-test-modal="import-members">
            <GhLoadingSpinner />
            <h1>불러오기 진행 중</h1>
        </header>
    {{/if}}

    {{#if (eq this.state 'COMPLETE')}}
        <header class="modal-header icon-center" data-test-modal="import-members">
            {{#if this.importResponse.errorCount}}
                {{#if (eq this.importResponse.importedCount 0)}}
                    {{svg-jar "members-outline" class="gh-member-import-icon-members midgrey"}}
                {{else}}
                    {{svg-jar "members-outline" class="gh-member-import-icon-members green"}}
                {{/if}}
            {{else}}
                {{svg-jar "confetti" class="gh-member-import-icon-confetti"}}
            {{/if}}
            <h1>불러오기 완료</h1>
        </header>
    {{/if}}

    {{#if (eq this.state 'ERROR')}}
        <header class="modal-header" data-test-modal="import-members">
            <h1>불러오기 오류</h1>
        </header>
    {{/if}}

    <a class="close" href="" role="button" title="Close" {{action "closeModal"}}>
        {{svg-jar "close"}}
        <span class="hidden">닫기</span>
    </a>

    <div class="modal-body">
        {{#if (eq this.state 'INIT')}}
            <ModalImportMembers::CsvFileSelect @setFile={{action "setFile"}} />
        {{/if}}

        {{#if (or (eq this.state 'MAPPING') (eq this.state 'UPLOADING'))}}
            <ModalImportMembers::CsvFileMapping
                @file={{this.file}}
                @setMappingResult={{action "setMappingResult"}}
                @setFileData={{action "setMappingFileData"}}
                @showErrors={{this.showMappingErrors}}
                @disabled={{if (or (eq this.state 'UPLOADING') (eq this.mappingResult.membersCount 0)) true false}}
            />
        {{/if}}

        {{#if (eq this.state 'PROCESSING')}}
        <div class="gh-member-import-resultcontainer">
            <div class="gh-member-import-result-summary">
                <p>불러오기가 진행 중입니다. 작업 완료 후 확인 메일이 전송됩니다. 보통 몇 분 정도 걸리지만, 파일이 클 경우 더 걸릴수도 있습니다.</p>
            </div>
        </div>
        {{/if}}

        {{#if (eq this.state 'COMPLETE')}}
            <div class="gh-member-import-resultcontainer">
                {{#if (eq this.importResponse.importedCount 0)}}
                <div class="gh-member-import-result-summary">
                    <p>멤버 추가에 실패했습니다{{if this.importResponse.errorCount " 다음 오류로 인하여 실패하였습니다:" "."}}</p>
                </div>
                {{else}}
                <div class="gh-member-import-result-summary">
                    <p>총 <strong>{{format-number this.importResponse.importedCount}}</strong> {{gh-pluralize this.importResponse.importedCount '명' without-count=true}}이 멤버 리스트에 추가 또는 업데이트되어 사이트에 접속할 수 있습니다.</p>
                </div>
                {{/if}}
                {{#if this.importResponse.errorCount}}
                    {{#unless (eq this.importResponse.importedCount 0)}}
                        <hr>
                        <div class="gh-member-import-result-summary">
                            <p><strong>{{format-number this.importResponse.errorCount}}</strong> {{gh-pluralize this.importResponse.errorCount "명" without-count=true}} {{if (eq this.importResponse.errorCount 1) "이" "이"}} 오류로 인하여 Skip 됐습니다: </p>
                        </div>
                    {{/unless}}
                    <div class="gh-member-import-errorlist">
                        <ul>
                        {{#each this.importResponse.errorList as |error|}}
                            <li>{{error.message}} ({{error.count}}) </li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        {{/if}}

        {{#if (eq this.state 'ERROR')}}
            <div class="failed flex items-start gh-members-upload-errorcontainer error">
                <div class="mr2">{{svg-jar "warning" class="nudge-top--2 w4 h4 fill-red"}}</div>
                <p class="ma0 pa0">{{this.errorMessage}}</p>
            </div>
        {{/if}}
    </div>

    <div class="modal-footer modal-footer-spread">
        {{#if (eq this.state 'INIT')}}
            <button {{action "closeModal"}} class="gh-btn" data-test-button="close-import-members">
                <span>닫기</span>
            </button>
            <a
                class="gh-btn"
                href="https://static.ghost.org/v4.0.0/files/member-import-template.csv"
                target="_blank"
            >
                <span>샘플 CSV 파일 다운로드</span>
            </a>
        {{/if}}

        {{#if (eq this.state 'MAPPING')}}
            <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
                <span>재시작</span>
            </button>
            <button class="gh-btn gh-btn-green {{unless this.mappingResult.membersCount "disabled"}}" {{action "upload"}}>
                {{#if this.mappingResult.membersCount}}
                    <span>{{format-number this.mappingResult.membersCount}} {{gh-pluralize this.mappingResult.membersCount '명' without-count=true}} 불러오기 </span>
                {{else}}
                    <span>멤버 불러오기</span>
                {{/if}}
            </button>
        {{/if}}

        {{#if (eq this.state 'UPLOADING')}}
            <button {{action "reset"}} class="gh-btn disabled" disabled="disabled" data-test-button="restart-import-members">
                <span>재시작</span>
            </button>
            <button class="gh-btn gh-btn-green gh-btn-icon disabled" disabled="disabled" {{action "upload"}}>
                <span>{{svg-jar "spinner" class="gh-icon-spinner"}} {{this.runningText}}업로드 중...</span>
            </button>
        {{/if}}

        {{#if (eq this.state 'COMPLETE')}}
            {{#if this.importResponse.errorCount}}
                <a href="{{this.importResponse.errorCsvUrl}}" download="{{this.importResponse.errorCsvName}}" class="gh-btn" data-test-button="restart-import-members">
                    <span>오류 파일 다운로드</span>
                </a>
                {{#if (eq this.importResponse.importedCount 0)}}
                    <button {{action "reset"}} class="gh-btn gh-btn-blue" data-test-button="restart-import-members">
                        <span>재시도</span>
                    </button>
                {{else}}
                    <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
                        <span>멤버 보기</span>
                    </button>
                {{/if}}
            {{else}}
                {{#if (eq this.importResponse.importedCount 0)}}
                    <button {{action "closeModal"}} class="gh-btn" data-test-button="close-import-members">
                        <span>닫기</span>
                    </button>
                    <button {{action "reset"}} class="gh-btn gh-btn-blue" data-test-button="restart-import-members">
                        <span>재시도</span>
                    </button>
                {{else}}
                    <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
                        <span>다른 파일 업로드</span>
                    </button>
                    <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
                        <span>멤버 보기</span>
                    </button>
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if (eq this.state 'PROCESSING')}}
            <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
                <span>다른 파일 업로드</span>
            </button>
            <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
                <span>확인</span>
            </button>
        {{/if}}

        {{#if (eq this.state 'ERROR')}}
            <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
                <span>재시도</span>
            </button>
            <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
                <span>OK</span>
            </button>
        {{/if}}
    </div>
</div>