<div class="theme-validation-container">
    <header class="modal-header">
        <h1 data-test-theme-warnings-title>
            {{#unless this.canActivate}}
                {{this.title}}
            {{else}}
                {{this.title}} with {{#if this.errors}}오류{{else}}경고{{/if}}
            {{/unless}}
        </h1>
    </header>
    <a class="close" href="#" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">취소</span></a>

    <div class="modal-body">
        {{#if this.fatalErrors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6 red">치명적인 오류</h2>
                <p class="mb2 red">필수 수정 사항</p>
            </div>
            <ul class="pa0" data-test-theme-fatal-errors>
            {{#each this.fatalErrors as |error|}}
                <li class="theme-validation-item theme-fatal-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if this.errors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">오류</h2>
                <p class="mb2">꼭 수정후에 사용하시는 걸 추천합니다. 기능에 제한이 생길 수 있습니다.</p>
            </div>

            <ul class="pa0" data-test-theme-errors>
            {{#each this.errors as |error|}}
                <li class="theme-validation-item theme-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if (and this.warnings (or this.fatalErrors this.errors))}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">경고</h2>
            </div>
        {{/if}}
        {{#if this.warnings}}
            <ul class="pa0" data-test-theme-warnings>
            {{#each this.warnings as |error|}}
                <li class="theme-validation-item theme-warning">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}
    </div>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-modal-close-button>
        <span>Ok</span>
    </button>
</div>
