
<header class="modal-header" data-test-modal="delete-user">
    <h1>뉴스레터 전송을 위해서 업그레이드</h1>
</header>
<button class="close" title="Close" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span class="hidden">닫기</span></button>

<div class="modal-body">
    <p>
        현재 적용된 PLAN은 <strong>{{gh-pluralize upgradeMessage.limit "member"}}</strong> 명을 보유할 수 있습니다. 현재 <strong>{{gh-pluralize upgradeMessage.total "member"}}</strong> 보유 중 입니다.
    </p>
</div>

<div class="modal-footer">
    <button {{on "click" this.closeModal}} class="gh-btn" data-test-button="cancel-upgrade">
        <span>취소</span>
    </button>

    <button {{on "click" (action "upgrade")}} class="gh-btn gh-btn-green" data-test-button="upgrade-plan">
        <span>업그레이드</span>
    </button>
</div>