<header class="modal-header">
    <h1>이 태그를 삭제하시겠습니까?
    </h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">취소</span></a>

<div class="modal-body">
    {{#if this.tag.post_count}}
        <span class="red">이 태그는 {{this.tag.count.posts}} {{this.postInflection}}에 적용됐습니다</span>
    {{/if}}
    "<strong>{{this.tag.name}}</strong>" 삭제를 진행 중입니다. 이 작업은 영구적입니다.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>취소</span></button>
    <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deleteTag}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
