<header class="modal-header" data-test-modal="delete-user">
    <h1>이 사용자를 삭제하시겠습니까?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    {{#if this.user.count.posts}}
        <p>
            <strong>{{this.user.name}}</strong> 와  사용자가 작성한 <strong data-test-text="user-post-count">{{gh-pluralize this.user.count.posts '개'}}</strong> 의 글이 영구적으로 삭제됩니다. 글이 삭제되는 것은 방지하고 싶다면, 글을 다른 작가의 이름으로 옮겨야합니다.
        </p>
        <p>
            삭제 전 백업이 자동으로 다운로드됩니다.
        </p>
    {{else}}
        <p>
            <strong>{{this.user.name}}</strong> 이/가 영구적으로 삭제됩니다. 삭제 전 백업이 자동으로 다운로드됩니다.
        </p>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>취소</span>
    </button>
    <GhTaskButton @buttonText="Download backup & delete user"
        @successText="Deleted"
        @task={{this.deleteUser}}
        @class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user" />
</div>
