<header>
    <h1>스태프 멤버 초대하기</h1>
    <p>Oasis Frog의 사이트는 다른 사용자들과 협업할 때 가장 빛을 발합니다. 협동하고, 글에 대한 피드백과 아이디어를 공유하세요.</p>
</header>

<div><img class="gh-flow-faces" src="assets/img/users.png" alt="" /></div>

<form class="gh-flow-invite" {{action "invite" on="submit"}}>
    <GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="users">
        <label for="users">한 줄에 하나의 이메일 주소를 입력하세요, 나머지는 저희가 처리할게요!{{svg-jar "email"}}</label>
        <GhTextarea
            @name="users"
            @required="required"
            @value={{readonly this.users}}
            @input={{action (mut this.users) value="target.value"}}
            @focus-out={{action "validate"}}
        />
    </GhFormGroup>

    <GhTaskButton
        @task={{this.invite}}
        @type="submit"
        @class="gh-btn gh-btn-default gh-btn-lg gh-btn-block {{this.buttonClass}}"
        @successClass=""
        @failureClass=""
        as |task|
    >
        <span>
            {{#if task.isRunning}}
                {{svg-jar "spinner" class="no-margin"}}
            {{else}}
                {{this.buttonText}}
            {{/if}}
        </span>
    </GhTaskButton>
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
    나중에 할래요, 먼저 제 사이트를 보여주세요!
</button>
