<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            설정
        </h2>
    </GhCanvasHeader>

    <section class="view-container">
        <div class="gh-setting-header gh-first-header">Website</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.general" data-test-nav="general">
                <span class="yellow">{{svg-jar "settings"}}</span>
                <div>
                    <h4>Settings</h4>
                    <p>기본 게시 디테일과 사이트 메타데이터</p>
                </div>
            </LinkTo>
            <button type="button" class="gh-setting-group" {{action (toggle "showBrandingModal" this)}} data-test-nav="branding">
                <span class="blue">{{svg-jar "paint-palette"}}</span>
                <div>
                    <h4>Branding</h4>
                    <p>Upload site logo and set accent color</p>
                </div>
            </button>
            <LinkTo class="gh-setting-group" @route="settings.theme" data-test-nav="theme">
                <span class="green">{{svg-jar "view-site"}}</span>
                <div>
                    <h4>Theme</h4>
                    <p>테마를 설치하고 업데이트하세요.</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.navigation" data-test-nav="navigation">
                <span class="pink">{{svg-jar "compass-2"}}</span>
                <div>
                    <h4>Navigation</h4>
                    <p>기본 메뉴와 보조 메뉴를 설정하세요.</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">Members</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.membership" data-test-nav="members-membership">
                <span class="blue">{{svg-jar "members"}}</span>
                <div>
                    <h4>Membership</h4>
                    <p>Access, subscription, and pricing options</p>
                </div>
            </LinkTo>
            {{#if this.session.user.isOwner}}
            <LinkTo class="gh-setting-group" @route="settings.members-email" data-test-nav="members-email">
                <span class="yellow">{{svg-jar "email-stroke"}}</span>
                <div>
                    <h4>이메일 뉴스레터</h4>
                    <p>이메일을 변경하고 이메일 주소를 설정하세요.
                        Customise emails and set email addresses</p>
                </div>
            </LinkTo>
            {{/if}}
        </div>

        <div class="gh-setting-header">Advanced</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.code-injection" data-test-nav="code-injection">
                <span class="green">{{svg-jar "brackets"}}</span>
                <div>
                    <h4>코드 인젝션</h4>
                    <p>게시된 글에 코드를 추가하세요.
                        Add code to your publication</p>
                </div>
            </LinkTo>
            {{!-- <LinkTo class="gh-setting-group" @route="settings.labs" data-test-nav="labs">
                <span class="pink">{{svg-jar "labs"}}</span>
                <div>
                    <h4>Labs</h4>
                    <p>Testing ground for new features</p>
                </div>
            </LinkTo> --}}
        </div>
    </section>
</section>

{{#if this.showBrandingModal}}
    <GhFullscreenModal @modal="branding"
        @close={{action "closeBrandingModal"}}
        @modifier="full-overlay branding-modal" />
{{/if}}
{{#if this.showLeaveSettingsModal}}
    <GhFullscreenModal @modal="leave-settings"
        @confirm={{action "leavePortalSettings"}}
        @close={{action "closeLeaveSettingsModal"}}
        @modifier="action wide" />
{{/if}}